<% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
<% end %>
			<p>
				Title: <%= @book.title %>
            </p>
            <p>
            	Body: <%= @book.body %>
            </p>

<%= link_to "edit", edit_book_path(@book) %>
<%= link_to "back", books_path %>